.body{
   width: 100%; 
   height: 100vh;
   background-color: rgb(197, 197, 197);
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: sans-serif;
}
.container{
    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
#contact{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.firstrow{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

}
.row1{
    height: 2rem; 
    width: 15rem; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px gray;
    padding: 5px;
}
.row2{
    height: 2rem; 
    width: 32rem; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px gray;
    padding: 5px;
}
.row3{
    height: 2.7rem; 
    width: 32.9rem; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 2px gray;
    

}
.row4{
    border: none;
    box-shadow:0px 0px 2px gray ;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    resize: none;
}
.row3:focus{
    background-color: rgb(220, 220, 220);
    outline: none;

    box-shadow:0 0 3px  blue ;
}
.row1:focus{
    outline: none;

    box-shadow:0 0 2px  blue ;
}
.row2:focus{
    outline: none;

    box-shadow:0 0 3px  blue ;
}
label{
    font-size: 0.9rem;
}
.button{
    width: 33rem; height: 3rem;background-color: rgb(43, 156, 255); margin-top: 1rem; border-radius: 10px; border: none;box-shadow: 0 0 2px gray;
}